@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background-color: #f5f5f5;
  color: rgba(18, 18, 18, 1);
}

.dark {
  background-color: rgba(18, 18, 18, 1);
  color: #f5f5f5;
}

.light,
.dark {
  transition: background-color 0.3s ease, color 0.3s ease;
}



@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-up {
  animation: slideFromBottom 0.5s ease-out forwards;
}

.animate-right {
  animation: slideFromRight 0.5s ease-out forwards;
}




@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 92%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 92%;
    --border: 0 0% 15%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 46%;
  }
}
