@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

html {
  @apply font-sans
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-entry {
  animation: slideUpFade 0.5s ease-out forwards;
}
