@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-700 text-black;
}

a {
  @apply text-orange-500 hover:text-orange-400 underline-offset-2;
}

html {
  @apply font-sans
}
